/* UpdateUser.css */

.update-user-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update-user-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.update-user-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.MobileNumberValidation {
    color: red;
}

.update-user-form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.update-user-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-user-form button:hover {
    background-color: #4d555f;
}